<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moto.pixelr">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!--This defines your application as using the Moto Mods feature for Play Store filtering.-->
    <uses-feature android:name="com.motorola.hardware.mods"/>

    <!--This permission allows access to the ModManager for access to Moto Mods information.-->
    <uses-permission android:name="com.motorola.mod.permission.MOD_ACCESS_INFO" />

    <!--This permission (when granted by the user) allows this Application to access the Raw protocol.-->
    <uses-permission android:name="com.motorola.mod.permission.RAW_PROTOCOL" />

    <supports-screens android:xlargeScreens="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <receiver
            android:name=".raw.BlinkyToggleReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.motomodsdev.intent.action.BLINKY_ON" />
                <action android:name="com.motomodsdev.intent.action.BLINKY_OFF" />
            </intent-filter>
        </receiver>

        <service
            android:name=".raw.RawPersonalityService"
            android:exported="false" />

    </application>

    <!--This uses the value from the version.xml file as the Moto Mods Services version.  This is used for future compatibility checks as Moto Mods capabilities expand.-->
    <meta-data
        android:name="com.motorola.mod.version"
        android:value="@integer/moto_mod_services_version" />

</manifest>