<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moto.pixelr">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!--This defines your application as using the Moto Mods feature for Play Store filtering.-->
    <uses-feature android:name="com.motorola.hardware.mods"/>

    <!--This permission allows access to the ModManager for access to Moto Mods information.-->
    <uses-permission android:name="com.motorola.mod.permission.MOD_ACCESS_INFO" />

    <!--This permission (when granted by the user) allows this Application to access the Raw protocol.-->
    <uses-permission android:name="com.motorola.mod.permission.RAW_PROTOCOL" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">

            <!--<intent-filter>-->
                <!--<action android:name="com.moto.pixelr.MAIN"/>-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.LauncherActivity"
            android:screenOrientation="portrait">

            <!--<intent-filter>-->
                <!--<action android:name="com.moto.pixelr.LAUNCHER"/>-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->

        </activity>

        <activity
            android:name=".activity.PixelrActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="com.moto.pixelr.PIXEL"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".SelectorActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>

    </application>

    <!--This uses the value from the version.xml file as the Moto Mods Services version.  This is used for future compatibility checks as Moto Mods capabilities expand.-->
    <meta-data
        android:name="com.motorola.mod.version"
        android:value="@integer/moto_mod_services_version" />

</manifest>